.container {
    font-size: clamp(8rem, 30vw, 16rem);
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    color: var(--secondary-color);
}

.button {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}