* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-rgb);
}

.container-fluid {
    max-width: auto;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
}

.content {
    margin: 3.2rem;
}