* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(65, 63, 63);
}

h1{
    color: var(--primary-color);
}

button {
    width: 2.5rem;
    height: 2.7rem;
}