.input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 0.8rem;
    color: var(--secondary-color);
    transition: all 0.1 ease-in-out;
    border: 0.2rem solid transparent;
    outline: none;
}

.input:focus {
    border: 0.2rem solid rgb(49, 46, 46);
    border-radius: 0.2rem solid var(--primary-color);

}

.input::placeholder {
    color: grey;
    font-size: 1.4rem;
    font-style: italic;
}