.input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 0.8rem;
    color: var(--secondary-color);
    transition: all 0.1 ease-in-out;
    border: 0.2rem solid grey
}

.input:focus {
    border: 0.2rem solid black;
    border-radius: 0.2rem solid black;

}

.input::placeholder {
    color: grey;
    font-size: 1.4rem;
    font-style: italic;
}